In [1]:

import os
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt

DATA_PATH = r"C:\Users\KIIT\Desktop\1\RoadAccidentsInIndia\ModifiedDatabase\typeOfVehicle.csv"
assert os.path.exists(DATA_PATH), f"File not found: {DATA_PATH}"

df = pd.read_csv(DATA_PATH)
print("Loaded:", DATA_PATH, "shape:", df.shape)
display(df.head())

Loaded: C:\Users\KIIT\Desktop\1\RoadAccidentsInIndia\ModifiedDatabase\typeOfVehicle.csv shape: (37, 59)

,Sl. No.,States/UTs,Two-Wheelers - Number of Road Accidents - Fatal - 2014,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,...,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,1961,3.741606,7239,13.812077,2003,3.821742,7333,13.991430,...,2.520480,466,0.889132,1279,2.440344,884,1.686680,1289,2.459424,52410653
1,2,Arunachal Pradesh,15,1.084029,34,2.457132,21,1.517640,30,2.168058,...,0.000000,27,1.951252,55,3.974772,33,2.384863,58,4.191578,1383727
2,3,Assam,489,1.567028,1508,4.832470,537,1.720846,1342,4.300513,...,2.868077,73,0.233933,249,0.797934,93,0.298024,218,0.698593,31205576
3,4,Bihar,769,0.738717,1750,1.681085,820,0.787708,1131,1.086461,...,0.425555,614,0.589821,1577,1.514898,690,0.662828,1165,1.119122,104099452
4,5,Chhattisgarh,1074,4.204313,4787,18.739334,1126,4.407873,4295,16.813336,...,4.662324,142,0.555877,515,2.016034,154,0.602853,438,1.714608,25545198

In [2]:

pd.set_option('display.max_columns', 200)
print("Columns (count={}):".format(len(df.columns)))
for i,c in enumerate(df.columns):
    print(f"{i+1:02d}. {c}  (dtype={df[c].dtype}, non-null={df[c].notna().sum()}, unique={df[c].nunique(dropna=True)})")


display(df.describe(include='all').T)

Columns (count=59):
01. Sl. No.  (dtype=object, non-null=37, unique=37)
02. States/UTs  (dtype=object, non-null=37, unique=37)
03. Two-Wheelers - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=36)
04. Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=37)
05. Two-Wheelers - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=37)
06. Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=37)
07. Two-Wheelers - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=35)
08. Two-Wheelers - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=37)
09. Two-Wheelers - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=36)
10. Two-Wheelers - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=37)
11. Auto-Rickshaws - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=32)
12. Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=34)
13. Auto-Rickshaws - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=36)
14. Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
15. Auto-Rickshaws - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=30)
16. Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=34)
17. Auto-Rickshaws - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=31)
18. Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
19. Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=33)
20. Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
21. Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=37)
22. Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=37)
23. Cars, Jeeps,Taxis - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=34)
24. Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
25. Cars, Jeeps,Taxis - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=37)
26. Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=37)
27. Buses - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=32)
28. Buses - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
29. Buses - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=34)
30. Buses - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
31. Buses - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=34)
32. Buses - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
33. Buses - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=35)
34. Buses - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=35)
35. Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=33)
36. Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
37. Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=35)
38. Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
39. Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=36)
40. Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
41. Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=36)
42. Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=36)
43. Other Motor Vehicles - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=31)
44. Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=34)
45. Other Motor Vehicles - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=35)
46. Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=35)
47. Other Motor Vehicles - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=34)
48. Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=34)
49. Other Motor Vehicles - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=34)
50. Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=34)
51. Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014  (dtype=int64, non-null=37, unique=26)
52. Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people  (dtype=float64, non-null=37, unique=28)
53. Other Vehicles/Objects - Number of Road Accidents - Total - 2014  (dtype=int64, non-null=37, unique=27)
54. Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people  (dtype=float64, non-null=37, unique=29)
55. Other Vehicles/Objects - Number of Persons - Killed - 2014  (dtype=int64, non-null=37, unique=27)
56. Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people  (dtype=float64, non-null=37, unique=28)
57. Other Vehicles/Objects - Number of Persons - Injured - 2014  (dtype=int64, non-null=37, unique=27)
58. Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people  (dtype=float64, non-null=37, unique=27)
59. Population  (dtype=int64, non-null=37, unique=37)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Sl. No.,37,37,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
States/UTs,37,37,Andhra Pradesh,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Two-Wheelers - Number of Road Accidents - Fatal - 2014,37.0,NaN,NaN,NaN,1625.081081,4928.288707,0.0,20.0,300.0,1342.0,30064.0
Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,37.0,NaN,NaN,NaN,2.364123,1.773977,0.0,1.084029,1.894926,3.305915,8.912992
Two-Wheelers - Number of Road Accidents - Total - 2014,37.0,NaN,NaN,NaN,7223.459459,22096.152669,1.0,92.0,1305.0,4899.0,133634.0
Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,37.0,NaN,NaN,NaN,13.724032,22.256395,1.51674,3.849857,6.282428,13.812077,130.746737
Two-Wheelers - Number of Persons - Killed - 2014,37.0,NaN,NaN,NaN,1758.054054,5331.111256,0.0,21.0,318.0,1399.0,32524.0
Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,37.0,NaN,NaN,NaN,2.555299,1.866243,0.0,1.24717,2.041255,3.620044,9.187238
Two-Wheelers - Number of Persons - Injured - 2014,37.0,NaN,NaN,NaN,6889.297297,21158.70558,1.0,98.0,1083.0,4295.0,127452.0
Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,37.0,NaN,NaN,NaN,11.905215,13.388724,0.842633,2.729338,7.20072,13.99143,57.454518
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014,37.0,NaN,NaN,NaN,300.162162,915.572817,0.0,5.0,65.0,230.0,5553.0
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people,37.0,NaN,NaN,NaN,0.479302,0.64212,0.0,0.121354,0.323303,0.517159,3.350522
Auto-Rickshaws - Number of Road Accidents - Total - 2014,37.0,NaN,NaN,NaN,1684.972973,5157.921591,0.0,27.0,251.0,1476.0,31172.0
Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people,37.0,NaN,NaN,NaN,2.644255,3.347934,0.0,0.716282,1.358118,2.959751,15.078102
Auto-Rickshaws - Number of Persons - Killed - 2014,37.0,NaN,NaN,NaN,339.405405,1034.619803,0.0,5.0,75.0,265.0,6279.0
Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people,37.0,NaN,NaN,NaN,0.545547,0.798823,0.0,0.138329,0.357362,0.581888,4.413949
Auto-Rickshaws - Number of Persons - Injured - 2014,37.0,NaN,NaN,NaN,2208.0,6776.93407,0.0,36.0,245.0,1314.0,40848.0
Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people,37.0,NaN,NaN,NaN,3.589946,4.787489,0.0,0.742691,1.447468,3.962724,19.141678
"Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014",37.0,NaN,NaN,NaN,1232.594595,3730.891303,0.0,35.0,318.0,1000.0,22803.0
"Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people",37.0,NaN,NaN,NaN,2.006111,1.348958,0.0,1.163775,1.679777,2.53295,5.896062
"Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014",37.0,NaN,NaN,NaN,6011.783784,18374.086295,0.0,138.0,1465.0,3853.0,111218.0
"Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people",37.0,NaN,NaN,NaN,11.313873,15.609175,0.0,3.707587,7.304802,15.239857,94.20347
"Cars, Jeeps,Taxis - Number of Persons - Killed - 2014",37.0,NaN,NaN,NaN,1407.459459,4257.930317,0.0,38.0,444.0,1065.0,26038.0
"Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people",37.0,NaN,NaN,NaN,2.337515,1.599839,0.0,1.355521,1.792224,2.824379,6.71496
"Cars, Jeeps,Taxis - Number of Persons - Injured - 2014",37.0,NaN,NaN,NaN,6130.432432,18754.871409,0.0,182.0,1120.0,4620.0,113413.0
"Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people",37.0,NaN,NaN,NaN,11.375895,10.14054,0.0,4.111048,8.111234,16.002355,37.014169
Buses - Number of Road Accidents - Fatal - 2014,37.0,NaN,NaN,NaN,578.918919,1754.986062,0.0,6.0,148.0,481.0,10710.0
Buses - Number of Road Accidents - Fatal - 2014 per 1L people,37.0,NaN,NaN,NaN,0.850845,0.583149,0.0,0.455703,0.723081,1.193079,2.536487
Buses - Number of Road Accidents - Total - 2014,37.0,NaN,NaN,NaN,2235.945946,6805.008788,0.0,35.0,592.0,1590.0,41365.0
Buses - Number of Road Accidents - Total - 2014 per 1L people,37.0,NaN,NaN,NaN,3.866573,4.758312,0.0,1.330628,2.014898,4.517146,24.270763
Buses - Number of Persons - Killed - 2014,37.0,NaN,NaN,NaN,658.648649,1994.422559,0.0,10.0,189.0,543.0,12185.0
Buses - Number of Persons - Killed - 2014 per 1L people,37.0,NaN,NaN,NaN,0.964952,0.640982,0.0,0.50588,0.790962,1.3017,2.748554
Buses - Number of Persons - Injured - 2014,37.0,NaN,NaN,NaN,2776.0,8491.541573,0.0,48.0,617.0,1649.0,51356.0
Buses - Number of Persons - Injured - 2014 per 1L people,37.0,NaN,NaN,NaN,4.803336,5.259167,0.0,1.806606,2.79219,5.206458,21.118922
"Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014",37.0,NaN,NaN,NaN,1734.108108,5228.80707,0.0,33.0,517.0,1701.0,32081.0
"Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people",37.0,NaN,NaN,NaN,2.408152,1.45915,0.0,1.461103,2.137132,3.245523,6.400763
"Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014",37.0,NaN,NaN,NaN,5200.810811,15722.652932,0.0,77.0,1384.0,4324.0,96215.0
"Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people",37.0,NaN,NaN,NaN,7.257249,4.847937,0.0,3.48402,5.659245,10.876064,21.596865
"Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014",37.0,NaN,NaN,NaN,1930.324324,5823.730811,0.0,33.0,629.0,1795.0,35711.0
"Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people",37.0,NaN,NaN,NaN,2.633642,1.581531,0.0,1.750827,2.260303,3.443102,6.982651
"Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014",37.0,NaN,NaN,NaN,5109.837838,15476.784554,0.0,88.0,1290.0,4534.0,94532.0
"Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people",37.0,NaN,NaN,NaN,7.470984,4.95782,0.0,3.319716,7.362711,9.714299,19.221898
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014,37.0,NaN,NaN,NaN,789.351351,2384.941628,0.0,14.0,198.0,760.0,14603.0
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people,37.0,NaN,NaN,NaN,1.146276,0.766591,0.0,0.545295,1.198504,1.578783,2.998607
Other Motor Vehicles - Number of Road Accidents - Total - 2014,37.0,NaN,NaN,NaN,2377.351351,7233.756559,0.0,48.0,578.0,1763.0,43981.0
Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people,37.0,NaN,NaN,NaN,3.558899,2.354834,0.0,2.083383,3.489761,5.013518,9.067801
Other Motor Vehicles - Number of Persons - Killed - 2014,37.0,NaN,NaN,NaN,831.351351,2511.521586,0.0,17.0,215.0,793.0,15380.0
Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people,37.0,NaN,NaN,NaN,1.271974,0.856439,0.0,0.674182,1.285027,1.835141,3.076899
Other Motor Vehicles - Number of Persons - Injured - 2014,37.0,NaN,NaN,NaN,2108.432432,6427.443295,0.0,63.0,323.0,1626.0,39006.0
Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,37.0,NaN,NaN,NaN,4.216347,4.982607,0.0,1.042209,2.877733,5.032021,23.514305
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,37.0,NaN,NaN,NaN,541.297297,1651.275178,0.0,0.0,35.0,491.0,10014.0
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,37.0,NaN,NaN,NaN,0.699173,0.890842,0.0,0.0,0.381065,0.998438,3.95522
Other Vehicles/Objects - Number of Road Accidents - Total - 2014,37.0,NaN,NaN,NaN,1719.72973,5260.215404,0.0,1.0,242.0,1514.0,31815.0
Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,37.0,NaN,NaN,NaN,2.392607,3.672172,0.0,0.014567,1.091195,2.627482,16.591878
Other Vehicles/Objects - Number of Persons - Killed - 2014,37.0,NaN,NaN,NaN,624.540541,1913.50469,0.0,0.0,35.0,672.0,11554.0
Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,37.0,NaN,NaN,NaN,0.766393,0.942906,0.0,0.0,0.408284,1.286627,4.002873
Other Vehicles/Objects - Number of Persons - Injured - 2014,37.0,NaN,NaN,NaN,1452.27027,4445.142609,0.0,0.0,141.0,1165.0,26867.0
Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,37.0,NaN,NaN,NaN,1.86734,2.506844,0.0,0.0,0.852905,2.459424,10.465846
Population,37.0,NaN,NaN,NaN,65453911.081081,198141512.377245,64473.0,1458545.0,25351462.0,60439692.0,1210854977.0

In [3]:
# Cell 3: create an aggregated "per-1L" accidents score and a binary label HighAccident
# Heuristic:
#  - find all numeric columns whose name contains "per 1L" or "per1L" (case-insensitive).
#  - sum them into a single metric 'accidents_per_1L_sum'
#  - create binary label 'HighAccident' = 1 if above median else 0

# find candidates
per1l_cols = [c for c in df.columns if isinstance(c, str) and ("per 1l" in c.lower() or "per1l" in c.lower() or "per 100000" in c.lower())]
# also include columns with 'per 1L people' or 'per 1L' etc.
if not per1l_cols:
    # backup: include any numeric column with 'per' in name
    per1l_cols = [c for c in df.columns if isinstance(c, str) and "per" in c.lower() and pd.api.types.is_numeric_dtype(df[c])]

print("Per-1L candidate columns ({}):".format(len(per1l_cols)))
for c in per1l_cols:
    print(" -", c)

if not per1l_cols:
    # fallback: choose an obvious numeric total column if present
    fallback = [c for c in df.columns if 'Total' in c and pd.api.types.is_numeric_dtype(df[c])]
    if fallback:
        per1l_cols = [fallback[0]]
        print("No per-1L columns found â€” using fallback:", fallback[0])
    else:
        raise RuntimeError("Couldn't find suitable numeric columns to build a label. Inspect your dataset manually.")

# create aggregated metric (sum of selected per-1L numeric columns)
df['accidents_per_1L_sum'] = df[per1l_cols].select_dtypes(include='number').sum(axis=1)

# create binary label by median threshold (ensures approx balanced classes)
median_val = df['accidents_per_1L_sum'].median()
df['HighAccident'] = (df['accidents_per_1L_sum'] > median_val).astype(int)

print("Created 'accidents_per_1L_sum' and binary label 'HighAccident' (median={:.4f})".format(median_val))
display(df[['accidents_per_1L_sum', 'HighAccident']].head(10))
print("Label distribution:")
print(df['HighAccident'].value_counts())

Per-1L candidate columns (28):
 - Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people
 - Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people
 - Two-Wheelers - Number of Persons - Killed - 2014 per 1L people
 - Two-Wheelers - Number of Persons - Injured - 2014 per 1L people
 - Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people
 - Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people
 - Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people
 - Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people
 - Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people
 - Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people
 - Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people
 - Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people
 - Buses - Number of Road Accidents - Fatal - 2014 per 1L people
 - Buses - Number of Road Accidents - Total - 2014 per 1L people
 - Buses - Number of Persons - Killed - 2014 per 1L people
 - Buses - Number of Persons - Injured - 2014 per 1L people
 - Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people
 - Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people
 - Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people
 - Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people
 - Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people
 - Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people
 - Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people
 - Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people
 - Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people
 - Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people
 - Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people
 - Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people
Created 'accidents_per_1L_sum' and binary label 'HighAccident' (median=101.2960)

   accidents_per_1L_sum  HighAccident
0            132.713477             1
1             52.322460             0
2             58.752320             0
3             24.605317             0
4            135.328761             1
5            458.059230             1
6            101.296016             0
7            111.697700             1
8            155.347681             1
9            125.840204             1

Label distribution:
HighAccident
0    19
1    18
Name: count, dtype: int64

In [4]:
# Cell 4: Preprocessing and train/test split
# Drop identifier-like columns and the target columns from features
# Adjust the drop list if your notebook has specific index/id columns
drop_like = ['Sl. No.', 'Sl No', 'Sl_No', 'Sl', 'States/UTs', 'State/UTs', 'States', 'State']  # common id-like names
features = [c for c in df.columns if c not in drop_like and c not in ['HighAccident', 'accidents_per_1L_sum']]

# Optionally drop any text-heavy or near-unique columns
# filter features to only those present (defensive)
features = [c for c in features if c in df.columns]

X = df[features].copy()
y = df['HighAccident'].copy()

print("Feature count:", len(X.columns))
print("Some features:", X.columns.tolist()[:20])

# quick cleaning: drop columns that are constant or all null
const_or_empty = [c for c in X.columns if X[c].nunique(dropna=True) <= 1 or X[c].isna().all()]
if const_or_empty:
    print("Dropping constant/empty:", const_or_empty)
    X = X.drop(columns=const_or_empty)

# separate numeric & categorical
numeric_cols = X.select_dtypes(include=['number']).columns.tolist()
cat_cols = X.select_dtypes(include=['object', 'category', 'bool']).columns.tolist()
print("Numeric cols:", numeric_cols)
print("Categorical cols:", cat_cols)

# If dataset small (it is ~37 rows), set test_size small but keep stratify
test_size = 0.2 if len(df) >= 10 else 0.25

# be careful: stratify requires both classes present in train/test. Our binary creation uses median -> both classes exist.
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=test_size, random_state=42, stratify=y
)
print("Train/test shapes:", X_train.shape, X_test.shape)

Feature count: 57
Some features: ['Two-Wheelers - Number of Road Accidents - Fatal - 2014', 'Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people', 'Two-Wheelers - Number of Road Accidents - Total - 2014', 'Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people', 'Two-Wheelers - Number of Persons - Killed - 2014', 'Two-Wheelers - Number of Persons - Killed - 2014 per 1L people', 'Two-Wheelers - Number of Persons - Injured - 2014', 'Two-Wheelers - Number of Persons - Injured - 2014 per 1L people', 'Auto-Rickshaws - Number of Road Accidents - Fatal - 2014', 'Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people', 'Auto-Rickshaws - Number of Road Accidents - Total - 2014', 'Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people', 'Auto-Rickshaws - Number of Persons - Killed - 2014', 'Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people', 'Auto-Rickshaws - Number of Persons - Injured - 2014', 'Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people', 'Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014', 'Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people', 'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014', 'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people']
Numeric cols: ['Two-Wheelers - Number of Road Accidents - Fatal - 2014', 'Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people', 'Two-Wheelers - Number of Road Accidents - Total - 2014', 'Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people', 'Two-Wheelers - Number of Persons - Killed - 2014', 'Two-Wheelers - Number of Persons - Killed - 2014 per 1L people', 'Two-Wheelers - Number of Persons - Injured - 2014', 'Two-Wheelers - Number of Persons - Injured - 2014 per 1L people', 'Auto-Rickshaws - Number of Road Accidents - Fatal - 2014', 'Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people', 'Auto-Rickshaws - Number of Road Accidents - Total - 2014', 'Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people', 'Auto-Rickshaws - Number of Persons - Killed - 2014', 'Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people', 'Auto-Rickshaws - Number of Persons - Injured - 2014', 'Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people', 'Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014', 'Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people', 'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014', 'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people', 'Cars, Jeeps,Taxis - Number of Persons - Killed - 2014', 'Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people', 'Cars, Jeeps,Taxis - Number of Persons - Injured - 2014', 'Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people', 'Buses - Number of Road Accidents - Fatal - 2014', 'Buses - Number of Road Accidents - Fatal - 2014 per 1L people', 'Buses - Number of Road Accidents - Total - 2014', 'Buses - Number of Road Accidents - Total - 2014 per 1L people', 'Buses - Number of Persons - Killed - 2014', 'Buses - Number of Persons - Killed - 2014 per 1L people', 'Buses - Number of Persons - Injured - 2014', 'Buses - Number of Persons - Injured - 2014 per 1L people', 'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014', 'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people', 'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014', 'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people', 'Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014', 'Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people', 'Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014', 'Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people', 'Other Motor Vehicles - Number of Road Accidents - Fatal - 2014', 'Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people', 'Other Motor Vehicles - Number of Road Accidents - Total - 2014', 'Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people', 'Other Motor Vehicles - Number of Persons - Killed - 2014', 'Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people', 'Other Motor Vehicles - Number of Persons - Injured - 2014', 'Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people', 'Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014', 'Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people', 'Other Vehicles/Objects - Number of Road Accidents - Total - 2014', 'Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people', 'Other Vehicles/Objects - Number of Persons - Killed - 2014', 'Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people', 'Other Vehicles/Objects - Number of Persons - Injured - 2014', 'Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people', 'Population']
Categorical cols: []
Train/test shapes: (29, 57) (8, 57)

In [5]:
# Cell 5: Build pipelines, train models, evaluate and save best
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])
preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer, numeric_cols),
    ('cat', categorical_transformer, cat_cols)
], remainder='drop')

models = {
    "LogisticRegression": LogisticRegression(max_iter=2000),
    "RandomForest": RandomForestClassifier(n_estimators=200, random_state=42)
}

results = {}
best_name = None
best_score = -1
best_pipeline = None

for name, model in models.items():
    pipe = Pipeline(steps=[('pre', preprocessor), ('clf', model)])
    print(f"\nTraining {name} ...")
    pipe.fit(X_train, y_train)
    preds = pipe.predict(X_test)
    acc = accuracy_score(y_test, preds)
    try:
        prob = pipe.predict_proba(X_test)[:,1]
        auc = roc_auc_score(y_test, prob)
    except Exception:
        auc = None
    print(f"{name} -> accuracy: {acc:.4f}, AUC: {auc}")
    print("Classification report:")
    print(classification_report(y_test, preds, zero_division=0))
    cm = confusion_matrix(y_test, preds)
    print("Confusion matrix:\n", cm)
    results[name] = {'accuracy': acc, 'auc': auc, 'pipeline': pipe}
    if acc > best_score:
        best_score = acc
        best_name = name
        best_pipeline = pipe

print(f"\nBest model: {best_name} with accuracy {best_score:.4f}")

Training LogisticRegression ...
LogisticRegression -> accuracy: 0.7500, AUC: 1.0
Classification report:
              precision    recall  f1-score   support

           0       0.67      1.00      0.80         4
           1       1.00      0.50      0.67         4

    accuracy                           0.75         8
   macro avg       0.83      0.75      0.73         8
weighted avg       0.83      0.75      0.73         8

Confusion matrix:
 [[4 0]
 [2 2]]

Training RandomForest ...
RandomForest -> accuracy: 0.8750, AUC: 0.9375
Classification report:
              precision    recall  f1-score   support

           0       0.80      1.00      0.89         4
           1       1.00      0.75      0.86         4

    accuracy                           0.88         8
   macro avg       0.90      0.88      0.87         8
weighted avg       0.90      0.88      0.87         8

Confusion matrix:
 [[4 0]
 [1 3]]

Best model: RandomForest with accuracy 0.8750

In [6]:
# Cell 6: Save best model pipeline and show how to load & predict later
out_path = r"C:\Users\KIIT\Desktop\1\RoadAccidentsInIndia\best_model.pkl"
to_save = {
    'model_pipeline': best_pipeline,
    'feature_columns': X.columns.tolist(),
    'label_name': 'HighAccident',
    'aggregation_cols_used_for_label': per1l_cols
}
with open(out_path, "wb") as f:
    pickle.dump(to_save, f)
print("Saved best pipeline to:", out_path)

# Usage example
print("""
To load and predict later:

import pickle
import pandas as pd
with open('/mnt/data/best_model.pkl','rb') as f:
    saved = pickle.load(f)
model = saved['model_pipeline']
# prepare new_X that has columns saved['feature_columns'] in same order
# preds = model.predict(new_X)
""")

Saved best pipeline to: C:\Users\KIIT\Desktop\1\RoadAccidentsInIndia\best_model.pkl

To load and predict later:

import pickle
import pandas as pd
with open('/mnt/data/best_model.pkl','rb') as f:
    saved = pickle.load(f)
model = saved['model_pipeline']
# prepare new_X that has columns saved['feature_columns'] in same order
# preds = model.predict(new_X)

In [7]:
# Show predicted labels for the test set using the best model pipeline
predicted_labels = best_pipeline.predict(X_test)
print("Predicted labels for test set:", predicted_labels)
print("True labels:", y_test.values)

Predicted labels for test set: [0 0 1 0 0 1 0 1]
True labels: [0 0 1 1 0 1 0 1]

In [8]:
# Explanation of binary labels used in this notebook
mapping = {
    0: f"LowAccident  -> accidents_per_1L_sum <= median ({median_val:.4f})",
    1: f"HighAccident -> accidents_per_1L_sum >  median ({median_val:.4f})"
}

print("Binary label meaning:")
for k, v in mapping.items():
    print(f" {k} : {v}")

print("\nClass distribution in 'HighAccident':")
print(y.value_counts().sort_index())

# show a few examples from each class
print("\nExamples (accidents_per_1L_sum, HighAccident):")
display(df.loc[y==1, ['accidents_per_1L_sum', 'HighAccident']].head(3))
display(df.loc[y==0, ['accidents_per_1L_sum', 'HighAccident']].head(3))

Binary label meaning:
 0 : LowAccident  -> accidents_per_1L_sum <= median (101.2960)
 1 : HighAccident -> accidents_per_1L_sum >  median (101.2960)

Class distribution in 'HighAccident':
HighAccident
0    19
1    18
Name: count, dtype: int64

Examples (accidents_per_1L_sum, HighAccident):

   accidents_per_1L_sum  HighAccident
0            132.713477             1
4            135.328761             1
5            458.059230             1

   accidents_per_1L_sum  HighAccident
1             52.322460             0
2             58.752320             0
3             24.605317             0